<html ng-app="TicTacToe">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
<p>The ID is {{greeting.id}}</p>
			<p>The content is {{greeting.content}}</p>
    <div ng-controller="TicTacToeCtrl as tttCtrl">
        <h2 ng-show="tttCtrl.pic == 0">TicTacToe Game</h2>
        <h2 ng-show="tttCtrl.pic == 1">Congratulation!</h2>
        
        <ul id="game" ng-hide="tttCtrl.pic ==1">
            <li ng-repeat="i in tttCtrl.fields track by $index" ng-click="tttCtrl.select($index)"
                ng-class="tttCtrl.getClass($index)"></li>
        </ul>
        <div ng-show="tttCtrl.pic == 1">
        <img src="../pics/win.gif" alt=""></br>
    <button ng-click="tttCtrl.restart()">Play again!</button> 
            </div>
    </div>
</body>
</html>